---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Junio 2025 - Diciembre 2025",
    title: "Full Stack Open - Deep Dive Into Modern Web Development",
    company: "University of Helsinki",
    description:
      "Bootcamp de especialización en desarrollo web moderno. Profundización en JavaScript, React, Node.js, Express, MongoDB y APIs REST. Desarrollo de proyectos prácticos con enfoque en buenas prácticas.",
    link: "https://fullstackopen.com/",
  },
  {
    date: "Septiembre 2024 - Junio 2026",
    title: "Desarrollo de Aplicaciones Web (DAW)",
    company: "Institut TIC de Barcelona",
    description:
      "Formación profesional superior enfocada en el diseño y desarrollo de aplicaciones web. Aprendizaje de Java, HTML/CSS, bases de datos y metodologías de desarrollo.",
    link: "https://instituttic.barcelona/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
